/* main body */

body {
	background:#dfd02c;
	font-family: 'Open Sans', serif;
	font-size: 22px:
}

/* paragraph text */

p {
	width: 50%;
	margin: 10px;
	padding: 10px;
	margin: auto;
	font-size:22px;
	text-align: left;
}

/* nav elements */

#nav ul li {
	font-family: 'Open Sans', serif;
	font-weight: 700;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
	text-decoration: none;
	padding: .2em .5em;
	
}

/* top nav bar */

#nav {
	display:inline-block;
	margin: 0px;
	background-color: #b67f10;
	padding-left: 0px;
	width: 100%;
	border:none;
	border-radius: 0px 0px 10px 10px;
}

/* nav link effects */

li a {
	color: #fff;
	background-color: #b67f10;
	text-decoration: none;

}

/* nav hover effect */

a:hover {
	color: #fff;
	background-color: #369;
}

/*  menu css */

table {
    width: 50%;
}








